<html>
   <head>
      <title>Menú de Acciones</title>
   </head>
   <body>
        <br/><br/><br/>
	Bienvenido <%= session[:name] %> al menú de acciones, selecciona un enlace de la izquierda para comenzar.
	<br />
	La información agregada aquí será vista a través de dos aplicaciones móviles, una donde se ven encuestas y otra donde se ve todo el resto.
	Estas aplicaciones saldrán prontamente al público.
	<br />
	<br /><br />
	<b>IMPORTANTE</b>: Una vez que el periodo de prueba haya terminado, se eliminará toda la información agregada al sitio y se comenzará desde cero.
	Así, puedes jugar con el sitio agregando cualquier tipo de información, real o ficticio.
	<br /><br />
	Gracias por tu ayuda, se agradecen todos los comentarios y sugerencias.
	
	
	
   </body>
</html>
